version: '3.8'

services:
  app:
    build: .
    container_name: url-shortener-app
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    networks:
      - url-net

  redis:
    image: redis
    container_name: redis-server
    networks:
      - url-net

networks:
  url-net:
    name: url-net
